<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entrega1_albaarsuaga">
    <!-- - Permisos para el calendario -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Tema.Principal">
        <activity android:name=".Resgistro"
            android:theme="@style/Registro">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


        <!-- - A cada actividad le asociamos su estilo personalizado -->
        <activity android:name=".Login"
            android:theme="@style/Login"/>

        <activity android:name=".NuevaTarea"
            android:theme="@style/NuevaTarea"/>

        <activity android:name=".Examenes"
            android:theme="@style/Examenes"/>

        <activity android:name=".Tareas"
            android:theme="@style/Tareas" />
        <activity android:name=".MainActivity">

        </activity>


    </application>

</manifest>